<mat-toolbar color="primary">
  <h1>ZenduForms</h1>
  <nav>
    <ul>
      <li><mat-icon aria-hidden="false" aria-label="Forms icon" fontIcon="list2"></mat-icon>Forms</li>
      <li><mat-icon aria-hidden="false" aria-label="Customers icon" fontIcon="group"></mat-icon>Customers</li>
      <li routerLink="/submissions" routerLinkActive="active"><mat-icon aria-hidden="false"
          aria-label="Submissions icon" fontIcon="graphic_eq"></mat-icon>Submissions</li>
      <li><mat-icon aria-hidden="false" aria-label="History icon" fontIcon="history"></mat-icon>History</li>
      <li><mat-icon aria-hidden="false" aria-label="Reports icon" class="material-icons-outlined"
          fontIcon="insert_chart_outline">insert_chart_outline</mat-icon>Reports</li>
      <li><mat-icon aria-hidden="false" class="material-icons-outlined"
          aria-label="Workflow icon">insert_chart_outline</mat-icon>Workflow</li>
    </ul>
  </nav>
  <div>
    <button mat-icon-button><mat-icon>notifications</mat-icon></button>
    <button mat-icon-button><mat-icon>logout</mat-icon></button>
  </div>
</mat-toolbar>